<!DOCTYPE html>
<html lang="en">
<body>
<h1>ポストページです。</h1>
<p>{{ user }}　さんこんにちは</p>
<p>{{ other_user }}</p>
<a href="{% url 'post:userdetail' %}">ユーザー詳細画面へ</a>
<a href="{% url 'accounts:toppage' %}">ログアウト</a>
{% if posts %}
    {% for post in posts %}
        <div>
            <p>{{ user }}さんが</p>
            <p>{{ post|linebreaksbr }}を投稿しました</p>
            <p>{{ post.created_data }}



            <hr>
        </div>
    {% endfor %}
{% else %}
    <p>何も投稿がありません。</p>
{% endif %}
<form action="{% url 'post:post' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">投稿する</button>
    <p>ほかのユーザーはこんなことポストしています。たとえば</p>
    <hr>
    {% for other_posts in other_user %}
        <p>{{ other_posts.user }}さん</p>
        <p>投稿:{{ other_posts }}</p>
        {% if like%}
                    <p> [この投稿はいいねされました]</p>
        {% endif %}
        <form action="{% url 'post:post'%}" method="post">
                {% csrf_token %}
                <input type="submit" name="like" value="いいね" id="test">({{ like }}←いいねおしてね
        </form>
        <hr>
    {% endfor %}
    {% for id in ids %}
        <p>{{ id }}</p>
    {% endfor %}

</form>
</body>
<head>
    <meta charset="UTF-8">
    <title>ログイン後に表示されるページです。</title>
</head>
</html>